<li class="reminder">
  <h3 class="title"><%= reminder.title %></h3>
  <p class="due-at">
    <%= time_tag reminder.due_at %>
    <% if reminder.repeating? %>
      <%= t(
            ".repeats",
            frequency: t(
              reminder.repeat_frequency,
              scope: "reminders.repeat_frequencies",
            ).downcase,
          ) %>
    <% end %>
  </p>
</li>
