<li>
  <h2><%= reminder.title %></h2>
  <p>
    <%= time_tag reminder.due_at %>
    <% if reminder.repeating? %>
      Repeats
      <%= t(
            ".repeats",
            frequency: t(
              reminder.repeat_frequency,
              scope: "reminders.repeat_frequencies",
            ).downcase,
          ) %>
    <% end %>
  </p>
</li>
