$accent-color: #00CCA3;

$separator-color: shade(tint($accent-color, 80%), 20%);
$separator-shadow-color: tint($separator-color, 20%);
$font-color: tint(shade($separator-color, 70%), 20%);
$site-title-color: tint($font-color, 30%);
$link-color: darken($accent-color, 2);

$input-background-color: none;
$input-color: $link-color;
$input-border-color: $input-color;
$input-placeholder-color: tint($input-color, 70%);

$flash-notice-color: $link-color;
$flash-notice-border-color: $flash-notice-color;
$flash-alert-color: complement($link-color);
$flash-alert-border-color: $flash-alert-color;
