@import "neat-helpers"; // or "../neat/neat-helpers" when not in Rails

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
$max-width: em(640);

// Neat Breakpoints
$small-screen: em(320);

$small-screen-up: new-breakpoint(min-width $small-screen);
