$reminder-border: 1px solid $separator-color;

.new_reminder_form {
  @include clearfix;
  margin-bottom: 3em;

  .reminder_form_title {
    @include span-columns(7);
  }

  .reminder_form_due_date {
    @include span-columns(5);
    @include omega();
  }
}

ul.reminders {
  list-style: none;
  padding: 0;
  box-shadow: 0 0 5px $separator-shadow-color;
}

.reminders .reminder {
  border: $reminder-border;
  border-bottom: none;
  padding: 0.75em 1em;

  &:last-child {
    border-bottom: $reminder-border;
  }

  &.sent {
    background: tint($separator-color, 90%);
    color: $separator-color;
  }

  h3.title, .due-at {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  h3.title {
    font-weight: $light;
    font-size: 1.2em;
    margin-bottom: 0.1em;
    line-height: 1;
  }

  .due-at {
    font-size: 0.8em;
    margin: 0;
  }

  .cancel-button {
    float: right;
    font-size: 0.8em;
  }
}
