<nav>
  <% if signed_in? %>
    Signed in as <%= current_user.email %>
    <%= button_to(
          t(".sign_out"),
          sign_out_path,
          method: :delete,
          class: "sign-out-button"
        ) %>
  <% else %>
    <%= link_to t(".sign_in"), sign_in_path %>
  <% end %>
</nav>
